
/* ---------style titre ---------*/
#Globale{
    width: 70%;
    height:100px;
    margin: auto;
}
#texte{
    margin-top: 20px;
    height: 70%;
    width: 100%;
}
#date{
    height: 30%;
    width: 100%;
}
#description{
    text-align: center;
    color: black;
}
#date_para{
    font-size: 20px;
    text-align: right;
    font-weight: bold;
}
#table{
    width: 80%;
    margin: auto;
    margin-bottom: 100px;
}




