<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if titre %}
        <title>{{ titre }}</title>
    {% else %}
    <title>Covid-19</title>
    {% endif %}
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header >
        <div class="headerImage"></div>
        
    </header>
    <div id="nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/Statistique">Statistique</a></li>
            <li><a href="/mond">Mond</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>
    {% block content %}

    {% endblock content %}

    <footer>
       <p class="footerText"> Created by Me 2020 |  Today: {{ today }} </p>
    </footer>
</body>
</html>