{% extends "base.html" %}

{% block content%}
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">

    <div class="Product" >
    	<div class="parts-product">
    		<div><h2>{{ titre }}</h2></div>
			<div><p>{{ specs }} </p></div>
			<div><p class='prix'>{{ prix }} DH</p></div>
    	</div>
		<div class ="description-product">
			<div id="lap"><img src="/static/images/{{ image }}" alt=""></div>
			<div id="des_lap"><p>{{ description }}</div>
		</div>
    </div>
	    
{% endblock content%}

  